/* ОБЩИЙ СТИЛЬ (2000-х / Y2K / UNDERGROUND) */
body {
    background-color: #ffffff; /* Чистый белый фон */
    color: #000000;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-transform: uppercase;
}

.container {
    max-width: 400px; /* Ширина под размер кнопок */
    width: 90%;
    padding: 20px 0 50px 0;
    text-align: center;
}

/* ФОТО: Крупное, БЕЗ ОБВОДКИ */
.main-photo {
    width: 100%;
    max-width: 400px; /* Размер как у кнопок */
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    /* Здесь больше нет свойства border, поэтому обводка пропадет */
}

.band-name {
    font-size: 2rem;
    margin: 10px 0;
    background: #000; /* Черная плашка под текстом */
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    letter-spacing: -1px;
}

.subtitle {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 35px;
    color: #555;
}

.section-title {
    font-size: 0.9rem;
    text-align: left;
    background: #f0f0f0;
    border: 2px solid #000;
    padding: 4px 10px;
    margin-bottom: 15px;
}

/* КНОПКИ С ЦВЕТОМ И ЖЕСТКОЙ ТЕНЬЮ */
.link-card {
    display: block;
    color: white;
    text-decoration: none;
    padding: 18px;
    margin-bottom: 15px;
    font-weight: 900;
    border: 3px solid #000;
    box-shadow: 6px 6px 0px #000; /* Та самая жесткая тень */
    transition: all 0.1s;
}

/* Эффект нажатия */
.link-card:active {
    box-shadow: 0px 0px 0px #000;
    transform: translate(6px, 6px);
}

/* ЦВЕТА КНОПОК */
.yandex { background-color: #ff0000; }
.vkmusic { background-color: #0077ff; }
.spotify { background-color: #1DB954; }

.telegram { background-color: #24A1DE; }
.tiktok { background-color: #ff0050; }
.vk { background-color: #4C75A3; }
.youtube { background-color: #FF0000; }

/* КОНТАКТЫ */
.contact-box {
    margin: 40px 0 20px 0;
    border: 2px dashed #000;
    padding: 15px;
}

.contact-box a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

footer {
    margin-top: 30px;
    font-size: 0.7rem;
    border-top: 2px solid #000;
    padding-top: 10px;
    color: #888;
}